<div>
    <div class="d-flex justify-content-center">
        <h1>My One And Only</h1>
    </div>
    <div class="d-flex justify-content-center">
        <p>
            Hi Archer
            <br>
            <br>
            Its been a long time since ive sent you one of these, and I believe its about time I did.
            <br>
            <br>
            I just wanted to say that i love you and that you mean the world to me. 
            <br>
            Ever since ive met you, it feels like ive finally started growing up and opening my eyes to a bigger world. Its been a rocky road and i still need to learn alot, but you are something i needed more than anything else in my life.
            <br>
            Im sorry for all the times ive hurt you, and im sorry for all the times that i wasnt there for you.
            But know that you will always have a special place in my heart, and that i will always be here for you.
            <br>
            <br>
            I hope you have a wonderful day, and that you enjoy the gift that i have prepared for you :3
            <br>
            <br>
            Forever and always, your one and only.
            - MJ <mat-icon class="icon">favorite</mat-icon>
        </p>
    </div>
    <div class="my-2 d-flex justify-content-center">
        <button class="btn btn-success" (click)="onShowClick()">Show Gift</button>
    </div>
</div>
