<div class="picture-wrapper">
    <div class="picture-title d-flex justify-content-center my-2 px-2">
        <h1><mat-icon class="icon">favorite</mat-icon>HAPPY BIRTHDAY ARCHER!<mat-icon class="icon">favorite</mat-icon></h1>
    </div>
    <div class="d-flex justify-content-center">
        <img class="gift-img" src="/assets/png/MJ_Archer.png" alt="IMG not found">
    </div>
    <div class="d-flex justify-content-center mt-3">
        <audio controls #audioPlayer>
            <source src="/assets/mp3/15. Hidden In the Sand.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
